{{ define "main" }}
<section class="bd-dark">
  <div class="container py-3 py-lg-5">
    <div class="row pt-md-5 align-items-center">
      <div class="col-md-6">
        {{ $image := resources.Get "images/codeandbeyond@800x800.png"
                     | resources.Fingerprint "sha512" -}}
        <img src="{{ $image.RelPermalink }}"
             class="d-block mx-auto rounded img-fluid mb-3"
             alt="Code && Beyond" loading="lazy">
      </div>
      <div class="col-md-6 --offset-md-2">
        <p class="lead">{{ .Description }}</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container py-3 py-lg-5">
    <h1 class="display-0 pb-2 border-bottom">Recent episodes</h1>
    <div class="row py-3 py-lg-5">
      {{ range first 2 (where site.RegularPages "Type" "in" site.Params.mainSections).ByDate.Reverse }}
        <div class="col-md-6">
          <article>
            <header>
              <h2 class="fw-bold"><a href="{{ .RelPermalink }}" title="Listen '{{ .Title }}'" rel="bookmark">{{ .Title }}</a></h2>
              <p><time class="text-muted">{{ .Date.Format "Jan 2, 2006" }}</time></p>
            </header>
            {{ .Summary }}
          </article>
        </div>
      {{ end }}
    </div>
  </div>
</section>
<section>
  <div class="container py-3 py-lg-5">
    <h1 class="display-0 pb-2 border-bottom">Hosts</h1>
    <div class="row py-3 py-lg-5">
      <div class="col-md-6">
        {{ $image := resources.Get "images/pablo-vicente@540x540.jpg"
                     | resources.Fingerprint "sha512" -}}
        <img src="{{ $image.RelPermalink }}"
             class="rounded img-fluid mb-3"
             alt="Pablo Vicente">
        <h2>Pablo Vicente</h2>
        <p class="text-muted">Software Engineer</p>
        <p>An adaptable and proficient software developer, with experience in Web Development and API design. My goal is to become the best software developer I can, and to work with interesting people.</p>
        <p><a href="https://pvcarrera.github.io/">Learn more about Pablo</a></p>
      </div>
      <div class="col-md-6">
        {{ $image := resources.Get "images/alexander-sulim@540x540.jpg"
                     | resources.Fingerprint "sha512" -}}
        <img src="{{ $image.RelPermalink }}"
             class="rounded img-fluid mb-3"
             alt="Alexander Sulim">
        <h2>Alexander Sulim</h2>
        <p class="text-muted">Software Engineer. Maker.</p>
        <p>A software engineer building the web professionally for the last fifteen years, recently focused on backend challenges at Babbel.</p>
        <p><a href="https://sul.im/">Learn more about Alex</a></p>
      </div>
    </div>
  </div>
</section>
<section class="bg-light">
  <div class="container py-3 py-lg-5">
    <div class="row py-3 py-lg-5">
      <div class="col-md-6 offset-md-3">
        <h3 class="display-6 pb-2">Have something to say?</h3>
        <p>Simply send us an email at <a href="mailto:codeandbeyond@protonmail.com">codeandbeyond@protonmail.com</a>.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
